<body>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#!search_health_unit"><i class="fa fa-search"></i> Consultar Unidade de Saúde</a></li>
      <li><a href="#!searchcomplaint"><i class="fa fa-search"></i> Pesquisar Queixa</a></li>
       <li><a href="#!/registrarQueixa"><i class="fa fa-plus"></i> Adicionar Queixa</a></li> 
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
              <li><a href="#!login"><i class="fa fa-user"></i> Login</a></li>
              <li><a href="#!cadastro"><i class="fa fa-user-plus"></i> Cadastro</a></li>
              <li><a href="#!administrador"><i class="fa fa-user"></i> Menu de Administrador</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>