<div class="container">
	<div class="cadastro-container">
            <div id="cadastro">
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="usuario" type="text" placeholder="nome" ng-model="administrador.nome">
                    <input name="email" type="text" placeholder="email" ng-model="administrador.email">
                    <input type="password" name="senha" placeholder="senha" ng-model="administrador.senha">
                    <button class="btn btn-info btn-block cadastro" type="submit" ng-click="cadastro(administrador)">Cadastrar</button>
                </form>
            </div>
            </div>
    </div>
</div>